/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body{
    font-family: 'Quantico', sans-serif;
    background-color: aliceblue;
}

header{
    background-color: royalblue;
    height: 8vh;
    z-index: 6;
}

a{
    text-decoration: none;
}

header nav > a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 24px;
}
header nav > a:hover{
    color: yellow;
}

section{
    padding: 0 3vw;
    margin-bottom: 4vh;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3vw;
    position: sticky;
    top: 0;
}

#header a{
    font-size: 24px;
}

h1#header-title{
    font-weight: bolder;
    font-size: 36px;
    color: black;
}


#first-section{
    height: 92vh;
    display: flex;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    column-gap: 2vw;
}

#first-section h1{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 2vh;
}
#first-section p{
    font-size: 20px;
    margin-bottom: 2vh;
    color: dimgray;
}

#first-section-btn{
    margin-top: 3vh;
    font-size: 20px;
}
#first-section div img{
    max-width: 40vw;
    /* border: 5px solid royalblue; */
    border-radius: 13px;
    box-shadow: 13px 13px rgba(128, 128, 128, 0.3);
}
#first-section .btn{
    background-color: white;
    color: black;
    border: royalblue 2px solid;
    border-radius: 3px;
    padding: 5px 13px;
    margin-right: 13px;
}

#second-section{
    height: 48vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2vw;
    margin-bottom: 13vh;
}

#second-section div img{
    width: 40vw;
    box-shadow: -13px 13px rgba(128, 128, 128, 0.3);
    border-radius: 13px;
}
#second-section #second-description{
    width: 50vw;
}
#second-section #second-description h1{
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 2vh;
    text-decoration: underline;
    
}
#second-section #second-description ul{
    font-size: 24px;
}

#second-section div ul li{
    list-style: disc;
    list-style-position: inside;
    margin-bottom: 1vh;
}

#third-section div h1{
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 2vh;
    text-align: center;
}

.specification-detail{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-holder{
    margin-top: 5vh;
    background-color: white;
    max-width: 25vw;
    border: 2px solid grey;
    border-radius: 13px;
    padding: 0px 1vw;
    text-align: center;
}
.img-holder img{
    display: block;
    margin: auto;
    max-height: 60%;
    max-width: 20vw;
}

#fourth-section{
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13vh;
}
#fourth-section div h1{
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 7vh;
    text-align: center;
}
.accordion{
    width: 69vw;
}
.accordion div h2 button{
    font-size: 24px;
    font-weight: bold;
}

#contact-section{
    background-color: rgb(190, 189, 189);
    padding: 2vh 4vw;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.map-contact{
    width: 40vw;
}
#for-mobile{
    display: none;
}
.info-contact{
    width: 30vw;
}
.info-contact h1{
    font-size: 36px;
    margin-bottom: 2vh;
    font-weight: bold;
    text-decoration: underline;
}
.info-contact ul li{
    list-style: disc;
    list-style-position: inside;
    margin: 10px 0;
    font-size: 24px;
}
footer {
    margin-top: auto;
    height: 13vh;
    background-color: black;
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    text-align: center;
    z-index: 20;
}
.footer .filler-foot {
    height: 3vh;
}
.footer h1 {
    font-size: 3vw;
    text-decoration: overline;
}
.footer p {
    font-size: 1.3vw;
    text-decoration: underline;
}

.footer .logologo a {
    text-decoration: none;
    margin: 1vw;
}
.footer .logologo a img {
    height: 25px;
}
.footer h2 {
    margin-top: 2.5vh;
    font-size: 0.7vw;
}
footer h2 a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:992px){
    #first-section{
        flex-direction: column-reverse;
        margin-bottom: 5vh;
        column-gap: 0;
        justify-content: space-around;
        height: auto;
        text-align: center;
    }
    #first-section div img{
        max-width: 90vw;
        /* border: 5px solid royalblue; */
        border-radius: 13px;
        box-shadow: 0 0 0;
        margin-top: 2vh;
    }
    #first-section h1{
        margin-top: 2vh;
        font-size: 24px;
    }
    #first-section p{
        font-size: 18px;
    }
    #second-section{
        flex-direction: column;
        column-gap: 0;
        margin-bottom: 5vh;
        height: auto;
        text-align: center;
        justify-content: space-around;
    }
    #second-section div img{
        width: 90vw;
        /* border: 5px solid royalblue; */
        border-radius: 13px;
        box-shadow: 0 0 0;
        margin-top: 2vh;
    }
    #second-section #second-description{
        width: 90vw;
    }
    #second-section #second-description h1{
        margin-top: 2vh;
        font-size: 24px;
        text-decoration: none;
    }
    #second-section #second-description ul{
        font-size: 18px;
    }
    #third-section{
        flex-direction: column;
        column-gap: 0;
        margin-bottom: 5vh;
        height: auto;
        text-align: center;
        justify-content: space-around;
    }
    #third-section div h1{
        margin-top: 2vh;
        font-size: 24px;
        padding: 0px 0px;
    }
    #third-section .specification-detail .img-holder{
        padding: 0px 0px;
    }
    #third-section .specification-detail .img-holder h1{
        font-size: 18px;
    }
    #third-section .specification-detail .img-holder p{
        display: none;
    }
    #fourth-section div h1{
        font-size: 24px;
    }
    .accordion{
        width: 90vw;
        z-index: -1;
    }
    .accordion div h2 button{
        font-size: 18px;
        font-weight: bold;
    }
    #contact-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
    }
    #contact-section .map-contact{
        width: 90vw;
    }
    #for-pc{
        display: none;
    }
    #for-mobile{
        display: block;
    }
    .info-contact{
        width: 90vw;
    }
    .info-contact h1{
        font-size: 24px;
        text-align: left;
    }
    .info-contact ul li{
        font-size: 18px;
    }
    #header{
        padding: 0px 5vw;
    }
    h1#header-title{
        font-size: 24px;
    }
    header nav > a{
        display: none;
    }
}